.titles{
    background-color: var(--c11);
    padding: 2rem;

}
.title01,.title02{
    margin-left: 10rem;
}

.nimbus{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 8rem 0 4rem 13.75rem;
    gap: 2rem;
}
.magic{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 4rem;
    gap: 2rem;
    position: relative;
    z-index: 1;
    color: var(--c5);
}
.title1{
    font-weight: bold;
}
.title2{
    font-weight: bold;
    color: var(--c0);
}
.title3{
    font-weight: bold;
}
.magic-img{
    position: relative;
    z-index: 1;
}
.advantage-images img{
    position: relative;
    bottom: 4px;
    left: -5px;
    margin-bottom: 0.5rem;
    z-index: 1;
}
.magic-title{
    position: relative;
    z-index: 1;
}
.magic-text{
    position: relative;
    z-index: 1;
}
.advantage-text{
    position: relative;
    z-index: 1;
}
.advantage-list{
    display: flex;
    margin-top: 3rem;
}
.buttons{
    grid-column: 3;
    align-self: end;
    background-color: var(--p1);
    color: var(--c12);
    border-radius: 4px;
    padding: 1rem;
    width: 15rem;
    font-weight: bold;
    position: relative;
    left: -10rem;
    text-align: center;
}
.buttons img{
    display: inline-block;
}

.top-right-1{
    grid-column: 3;
    position: relative;
    top: -20rem;
    right: -3rem;
}

.black-square{
    background-color: var(--c11);
    width: 91rem;
    height: 30rem;
    position: absolute;
    top: -4.5rem;
    left: 15rem;
    border-radius: 4px;
}


.nebula{
    margin-top: 2rem;
}


.title1:after{
    content:"R$ 4999";
    background-color: #111111;
    color: var(--c5);
    font-size: 1rem;
    border-radius: 4px;
    position: relative;
    left: -18rem;
}
.title2:after{
    content: "R$ 2499";
    background-color: #111111;
    color: var(--c5);
    font-size: 1rem;
    border-radius: 4px;
    position: relative;
    left: -16.5rem;
}
.title3:after{
    content: "R$ 2499";
    background-color: #111111;
    color: var(--c5);
    font-size: 1rem;
    border-radius: 4px;
    position: relative;
    left: -19rem;
}

@media (max-width: 800px){
    .black-square{
        display: none;
    }
    .magic,.magic-title{
        color: #111111;
    }
    .nimbus{
        display: flex;
        flex-direction: column;
        position: relative;
        left: -7rem;
    }
    .nimbus a{
        position: absolute;
        top: 36rem;
        left: -2.5rem;
    }
    .advantage-images{
        position: relative;
        left: -30px;
    }
    .top-right-1{display: none}
    .titles h1,.titles h2{
        position: relative;
        left: -10rem;
    }


    }