.header-container{
    background-color: black;
    display: flex;
    justify-content: end;
    height: 6rem;
    align-items: center;
}
.logo{
    margin-right: auto;
    margin-left: 13.5rem;
    width: auto;
    height: 2rem;
    align-self: center;
}
.nav-menu{
    display: flex;
    list-style: none;
    gap: 2.5rem;
    font-size: 1.5rem;
    margin-right: 13.75rem;
}
.nav-menu li a{
    color: white;
    text-decoration: none;
}

.hamburger{
    display:none;
    cursor: pointer;
}
.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}
.intro-container{
    display:grid;
    grid-template-columns: 1fr 1fr;
    background-color: black;
    align-content: center;
    box-shadow: inset 0 -60px white;
}
.dot{
    color: var(--p1);
}
.text-part{
    grid-column: 1;
    margin: auto 13.75rem;
    position: relative;
}
.intro-bike{
    width: 40rem;
    border-radius: 4px;
}
.text-part h1{
    font-size: 4rem;
    font-weight: bold;
}
.text-part p{
    font-size: 1.5rem;
    color: var(--c7);
    margin-bottom: 2rem;
}
.button{
    padding: 1.3rem;
    border-radius: 4px;
    color: var(--c12);
    background-color: var(--p2);

    font-weight: bold;
    text-decoration: none;
}
.br-detail{
    grid-column: 1;
    display: block;
    position: relative;
    bottom: -6.5rem;
    left: -12rem;
}


@media (min-width: 800px) and (max-width: 1500px){
    .intro-bike{
        width: 90%;
    }
}
@media (max-width: 800px) {
    .link-list {
        display: none;
    }
    .hamburger{
        display: block;
        margin-right: 2rem;
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-menu{
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: black;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }
    .nav-menu.active{
        Left:0;
    }
    .logo {
        position: relative;
        right: 10rem;
    }

    .intro-bike {
        display: none;
    }
    .text-part {
        position: relative;
        left: -11rem;
    }
}