.advantages{
    display: inline-flex;
    position: relative;
    top: -15rem;
}
.technology-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-shadow: inset 0 100px white,inset 0 -100px white;
    margin-top: 120px;
    height: 60rem;
    width: auto;
    background-color: var(--c11);

}

.technology-container div{
    margin-left: 2rem;
    margin-top: 160px;
    margin-right: 1rem;

}

.tools{
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: left;
}

.detail-bl{
    display:block;
    width: 2rem;
    height: 2rem;
    position: relative;
    left: -55rem;
    bottom: -20rem;
}

@media (max-width: 1600px){
    .tools{
        height: 100%;
    }
    .technology-container{
        height: 85rem;
        box-shadow: none;
    }

}
@media (max-width:800px){
    .tools{
        display:none
    }
    .technology-container{
        height: 75rem;
    }
    .technology-container div h2,p{
        position: relative;
        left: -1.5rem;
    }
    .advantages{
        position: relative;
        left: -1.5rem;
    }
    .advantages h3{
        position: relative;
        left: -1.5rem;
    }
    .detail-bl{
        display: none;
    }
}